
{% set ghassen=0 %}


{%    for author in authors                 %}

<li>


{{author.username|upper}}
<a href="{{path('gh',{'id':'1'})}}">details</a>

{{author.email}}
{{author.id}}
{{author.nb_books}}

{% set ghassen = ghassen + author.nb_books %}

</li>

{%else%}
<p>c un tableau vide </p>









{%     endfor             %}

<br>
le nb est: {{authors | length}}
le nb est: {{ghassen}}

<a href="{{ url('showlist') }}"> Home URL </a>

<br>
<a href="{{ path('showlist') }}"> Home PATH </a>