{# templates/reclamation/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier Réclamation{% endblock %}

{% block stylesheets %}
     
    <style>
        /* CSS personnalisé pour le formulaire */
        .form-container {
            max-width: 500px;
            margin: 200px auto; /* Ajout d'une marge supérieure */
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-control {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .form-label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        .btn {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block body %}
<div class="form-container">
    <h1>Modifier Réclamation</h1>
    {{ form_start(form) }}
    <div class="form-group">
        <label class="form-label" for="{{ form.sujet.vars.id }}">Sujet</label>
        {{ form_widget(form.sujet, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <label class="form-label" for="{{ form.description.vars.id }}">Description</label>
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <label class="form-label" for="{{ form.dateCreation.vars.id }}">Date de Création</label>
        {{ form_widget(form.dateCreation, {'attr': {'class': 'form-control'}}) }}
    </div>

    <button type="submit" class="btn">Modifier</button>
    {{ form_end(form) }}
</div>
{% endblock %}


