{% extends 'base.html.twig' %}
{% block body %}
<div class="container text-center mt-5"> <!-- Center-align the content -->
            <h1>Liste des Utilisateurs</h1>
            {% if utilisateurs is empty %}
            <p>Aucun utilisateur trouvé.</p> <!-- Your message in French -->
        {% else %}
            <input id="myInput" type="text" value="" name="Search" class="form-control"
                placeholder="Rechercher un utilisateur" autofocus>
            <table class="table table-bordered table-striped mt-3" id="myTable"> <!-- Style the table -->
                <thead class="table-dark">
                    <tr>
                        <th>firstName</th>
                        <th>lastName</th>
                        <th>email</th>
                        <th>role</th>
                        <th>phoneNumber</th>
                        <th>region</th>
                        <th>rate</th>
                        <th>specialite</th>
                        <th>Modification</th>
                        <th>Suppression</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in utilisateurs %}
                    <tr>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.phoneNumber}}</td>
                        <td>{{ user.region }}</td>
                        <td>{{ user.rate }}</td>
                        <td>{{ user.specialite }}</td>
                        <td><a href="/modifier/{{user.id}}">Modifier</a></td>
                        <td><a href="/supprimer/{{user.id}}">Supprimer</a></td>
                        <!-- Add more columns if needed -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>

{% endblock %}
