<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}HealthGuard{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{{asset("front/img/image.png")}}">
    <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    <!-- CSS here -->
     {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
    <link rel="stylesheet" href="{{asset("front/css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{asset("front/css/owl.carousel.min.css")}}">
    <link rel="stylesheet" href="{{asset("front/css/magnific-popup.css")}}">
    <link rel="stylesheet" href="{{asset("front/css/font-awesome.min.css")}}">
    <link rel="stylesheet" href="{{asset("front/css/themify-icons.css")}}">
    <link rel="stylesheet" href="{{asset("front/css/nice-select.css")}}">
    <link rel="stylesheet" href="{{asset("front/css/flaticon.css")}}">
    <link rel="stylesheet" href="{{asset("front/css/gijgo.css")}}">
    <link rel="stylesheet" href="{{asset("front/css/animate.css")}}">
    <link rel="stylesheet" href="{{asset("front/css/slicknav.css")}}">
    <link rel="stylesheet" href="{{asset("front/css/style.css")}}">
    {# <!-- <link rel="stylesheet" href="{{asset('front/css/responsive.css')}}"> --> #}
        {% endblock %}
</head>


<body>
{{ include('includes/header.html.twig') }}
{% block body %}

{% endblock %}
{{ include('includes/footer.html.twig') }}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>

{% block javascripts %}

 <script src="{{asset("front/js/vendor/modernizr-3.5.0.min.js")}}"></script>
    <script src="{{asset("front/js/vendor/jquery-1.12.4.min.js")}}"></script>
    <script src="{{asset("front/js/popper.min.js")}}"></script>
    <script src="{{asset("front/js/bootstrap.min.js")}}"></script>
    <script src="{{asset("front/js/owl.carousel.min.js")}}"></script>
    <script src="{{asset("front/js/isotope.pkgd.min.js")}}"></script>
    <script src="{{asset("front/js/ajax-form.js")}}"></script>
    <script src="{{asset("front/js/waypoints.min.js")}}"></script>
    <script src="{{asset("front/js/jquery.counterup.min.js")}}"></script>
    <script src="{{asset("front/js/imagesloaded.pkgd.min.js")}}"></script>
    <script src="{{asset("front/js/scrollIt.js")}}"></script>
    <script src="{{asset("front/js/jquery.scrollUp.min.js")}}"></script>
    <script src="{{asset("front/js/wow.min.js")}}"></script>
    <script src="{{asset("front/js/nice-select.min.js")}}"></script>
    <script src="{{asset("front/js/jquery.slicknav.min.js")}}"></script>
    <script src="{{asset("front/js/jquery.magnific-popup.min.js")}}"></script>
    <script src="{{asset("front/js/plugins.js")}}"></script>
    <script src="{{asset("front/js/gijgo.min.js")}}"></script>
    <!--contact js-->
    <script src="{{asset("front/js/contact.js")}}"></script>
    <script src="{{asset("front/js/jquery.ajaxchimp.min.js")}}"></script>
    <script src="{{asset("front/js/jquery.form.js")}}"></script>
    <script src="{{asset("front/js/jquery.validate.min.js")}}"></script>
    <script src="{{asset("front/js/mail-script.js")}}"></script>

    <script src="{{asset("front/js/main.js")}}"></script>
    <script>
        $('.datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-calendar"></span>'
            }
        });

        $('.timepicker').timepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-clock-o"></span>'
            }
        });
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
    </script>


{% endblock %}

</body>


</html>